<!DOCTYPE html>


<html lang="ar">

<%- include('./partials/head') %>


    <body id="body">
        <%- include('./partials/header') %>






            <main id="main">
                <section>
                    <h1>
                        Trending Articles &#128293;
                    </h1>

                    <div class="parent-of-articles">


                        <% artArray.forEach(item => { %>
                            <article>
                                <h2>
                                    <%= item.title %>
                                </h2>


                                <p>
                                    <%= item.body %>

                                        <a class="btn" href="/all-articles/<%=item._id%> ">show more</a>
                                </p>
                            </article>
                            <%  }); %>




                    </div>


                </section>



            </main>
            <br><br><br><br><br><br>

            <%- include('./partials/footer.ejs') %>




    </body>

</html>